{{ define "main" }}
<div class="intro-with-image">
  <div class="intro-text">
    <p>Hi, my name is Mattias. I'm a passionate software engineer who loves building things! My areas of my expertise include:</p>

    <ul>
      <li>Designing distributed systems</li>
      <li>System performance</li>
      <li>Domain driven design</li>
      <li>Control systems</li>
    </ul>

    <p>
      <a href="https://www.linkedin.com/in/mattias-zurkovic/">🔷 LinkedIn</a> |
      <a href="https://github.com/mAzurkovic">🐙 Github</a> |
      <a href="mailto:mattias@zurkovic.com">✉️ Contact</a>
    </p>
  </div>

  <img src="/images/headshot.png" alt="Me">
  <br>
</div>

<hr>

{{ .Content }}
{{ end }}
