{{ define "main" }}
<div class="intro-with-image">
  <div class="intro-text">
    <p>Hi, my name is Mattias. I'm a passionate software engineer who loves building things! My areas of my expertise include:</p>
    
    <ul>
      <li>Architecting distributed systems</li>
      <li>Cloud data systems</li>
      <li>Domain driven design</li>
      <li>Control systems</li>
    </ul>

    <p>
      <a href="https://bearblog.dev/">🔷 LinkedIn</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
      <a href="https://bearblog.dev/">🐙 Github</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
      <a href="https://bearblog.dev/">✉️ Contact</a>
    </p>
  </div>

  <img src="/images/headshot.png" alt="Me">
</div>

<hr>

{{ .Content }}
{{ end }}
